asgiref==3.8.1
distlib==0.3.9
dj-database-url==2.3.0
Django==5.1.4
djangorestframework==3.15.2
filelock==3.16.1
gunicorn==23.0.0
jsonpointer==2.1
pipenv==2024.4.0
setuptools==75.1.0
sqlparse==0.5.3
typing_extensions==4.12.2
urllib3
virtualenv==20.28.0
wheel==0.44.0
whitenoise==6.8.2
zstandard 
requests
charset-normalizer
idna